.header
	.app-title Welcome to ToDo
	.login-signup-container
		%form{action: '/login', class: 'signin-form'}
			.row
				.span4.caption Username:
				.span4
					%input.user-name{name: "login[username]"}
			.row
				.span4.caption Password:
				.span4
					%input.password{name: "login[password]" ,type: 'password'}
			.row
				.span4.login-btn
					%button Login
		.signup-container
			%a{href: '/signup'} New User? Why not signup?
