.signup-container
	%h1.title Signup!
	%form{action: '/signup_new_user', class: 'signup-form'}
		.row
			.span4.caption Username:
			.span4
				%input.user-name{name: "user[username]"}
		.row
			.span4.caption Fullname:
			.span4
				%input.password{name: "user[fullname]"}
		.row
			.span4.caption Password:
			.span4
				%input.password{name: "user[password]", type: 'password'}
		.row
			.span4
				%button Login