.edit-todo-container
	%h1.title Edit To Do Entry
	%form{action: '/update_todo'}
		.row
			%input.hidden{name: "todo[id]", value: @todo.id}
			.span4.caption Title:
			.span4
				%input.title{name: "todo[title]", value: @todo.title}
		.row
			.span4.caption Description:
			.span4
				%input.title{name: "todo[description]", value: @todo.description}
		.row
			.span4
				%button.update-todo Update