.well style="margin-top: 20px; width: 50%; margin-left: auto; margin-right: auto;"
  div class="alert alert-warning" role="alert"
    = alert
  = concept('todo/form_cell', @model, todo_list_id: params[:todo_list_id])
